@use "_variables" as *;
@use "_mixins" as *;
@use "_reset";

body {
  background: $light-bg;
}

.navbar {
  @include flex-center;
  justify-content: space-between;
  background: $white;
  height: 80px;
  padding: 0 40px;
  box-shadow: $shadow;

  .logo {
    font-size: 1.8rem;
    color: $text-color;
  }

  .navLink {
    list-style: none;
    display: flex;
    gap: 30px;
    a {text-decoration: none;
    color: $text-color;
  @include transition}
  }

}

.playfair-display- {
  &regular {
    font-family: "Playfair Display SC", serif;
    font-weight: 400;
    font-style: normal;
  }

  &bold {
    font-family: "Playfair Display SC", serif;
    font-weight: 700;
    font-style: normal;
  }

  &black {
    font-family: "Playfair Display SC", serif;
    font-weight: 900;
    font-style: normal;
  }

  &regular-italic {
    font-family: "Playfair Display SC", serif;
    font-weight: 400;
    font-style: italic;
  }

  &bold-italic {
    font-family: "Playfair Display SC", serif;
    font-weight: 700;
    font-style: italic;
  }

  &black-italic {
    font-family: "Playfair Display SC", serif;
    font-weight: 900;
    font-style: italic;
  }
}
