<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--Mega MenuNavigation Layout-->
    <nav>
        <ul>
            <li>Products
                <div class="mega">
                    <div>Hair</div>
                    <div>Skin</div>
                    <div>Nails</div>
                </div>
            </li>
        </ul>
    </nav>
</body>
</html>
</body>
</html>